.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 30px;
}

.noticeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 7px;
    padding: 10px 15px;
    padding-right:5px;
}

.noticeText{
    font-size: 8px;
    font-weight: 400;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

@media screen and (max-width: 1000px) {
  .noticeContainer {
    margin: 0;
  }
}


